
body {
  background: #FFE873;
  font-family: Arial;
}

h1 {
  font-family: Corbel;
  text-align: center;
}

#buttons, #preview {
  width: 38vw;
}

#preview {
  height: 70vh;
  border-radius: 7px;
  background: rgb(150, 150, 150);
}
