
body {
  background: #FFE873;
  font-family: Arial;
}

h1 {
  font-family: Corbel;
  text-align: center;
}

#buttons, #preview {
  width: 38vw;
  border: 3px solid black;
  color: black;
}

#buttons {
  background: LightBlue;
  padding: 10px;  
}

#preview {
  height: 70vh;
  border-radius: 7px;
  background: rgb(150, 150, 150);
}

td {
  vertical-align: top;
}

#empty {
  width: 45vw;
}
